<p id="notice"><%= notice %></p>

<h1>Money Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Savings account</th>
      <th>Date</th>
      <th>Direction</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_transactions.each do |money_transaction| %>
      <tr>
        <td><%= money_transaction.savings_account_id %></td>
        <td><%= money_transaction.date %></td>
        <td><%= money_transaction.direction %></td>
        <td><%= money_transaction.amount %></td>
        <td><%= link_to 'Show', money_transaction %></td>
        <td><%= link_to 'Edit', edit_money_transaction_path(money_transaction) %></td>
        <td><%= link_to 'Destroy', money_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Money Transaction', new_money_transaction_path %>
