<div class="container form-sm">
  <h1>Exchange Currency:</h1>

  <%= bootstrap_form_with(url: exchange_currencies_url, method: :post) do |form| %>
    <%= form.select :currency_to_sell, @currencies, { selected: @currency_to_sell }, { class: 'form-select' } %>
    <%= form.number_field :amount_to_sell %>
    <%= form.select :currency_to_buy, @currencies, { selected: @first_currency_to_buy }, { class: 'form-select' } %>
    <%= form.number_field :exchange_rate, class: 'mb-3' %>
    <%= form.submit 'Submit', class: 'btn btn-lg btn-primary w-100 mb-2' %>
    <%= link_to 'Back', :back, class: 'btn btn-secondary w-100' %>
  <% end %>
</div>

<script>
    document.getElementById('source_currency').focus();
</script>
