<div class="container form-sm">
  <h1>New <%= name %></h1>

  <%= bootstrap_form_with(url: url, method: :post) do |form| %>
    <%= form.number_field :amount, step: :any %>
    <%= form.text_field :description, class: 'mb-3'%>
    <%= form.submit name, class: 'btn btn-lg btn-primary w-100 mb-2' %>
  <% end %>

  <%= link_to 'Back', :back, class: 'btn btn-secondary w-100' %>
</div>

<script>
    document.getElementById('amount').focus();
</script>
