<h2>Savings Accounts</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>User</th>
      <th>Currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savings_accounts.each do |savings_account| %>
      <tr>
        <td><%= savings_account.user_id %></td>
        <td><%= savings_account.currency %></td>
        <td><%= link_to 'Show', savings_account %></td>
        <td><%= link_to 'Edit', edit_savings_account_path(savings_account) %></td>
        <td><%= link_to 'Destroy', savings_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Savings Account', new_savings_account_path %>
