<h2>Savings Accounts</h2>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Currency</th>
    <th scope="col">Balance</th>
    <th scope="col" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @savings_accounts.each do |savings_account| %>
    <tr>
      <td><%= savings_account.currency %></td>
      <td><%= savings_account.balance %></td>
      <td><%= link_to 'Deposit', new_deposit_savings_account_url(savings_account) %></td>
      <td><%= link_to 'Withdraw', new_withdrawal_savings_account_url(savings_account) %></td>
      <td><%= link_to 'History', savings_account %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>