<!DOCTYPE html>
<html>
<head>
  <title>RailsPersonalBanking</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Bank</a>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, class: "nav-link", method: :delete) %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', profile_path, class: "nav-link nav-link-important" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<main class="container">
  <%= yield %>
</main>
</body>
</html>
